.product_specification_container {
  width: 90%;

  .product_table {
    width: 100%;
    border-collapse: collapse;

    .table_header {
      height: 40px;
      background: #DADADA;
      text-align: left;

      th {
        height: 100%;
        padding: 0 10px;
        border-left: 1px solid #DADADA;
      }
    }

    .table_body {

      tr {
        min-height: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 0.5px solid #DADADA;
        border-right: 0.5px solid #DADADA;

        td {
          height: 100%;
          display: flex;
          align-items: center;
          padding: 10px;
          border-left: 1px solid #DADADA;
        }
      }
    }
  }
}
