.register_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to left, rgb(123, 92, 215), rgba(250, 250, 250, 0.9803921569));
}
.register_container .register_form {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.9803921569);
  box-shadow: 0 2px 8px rgba(56, 56, 56, 0.694);
}
.register_container .register_form .register_form_title {
  width: 90%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register_container .register_form .register_form_title h2 {
  font-size: 36px;
}
.register_container .register_form .register_form_title span {
  font-size: 36px;
  color: #4A28B1;
}
.register_container .register_form .register_fname_lname, .register_container .register_form .register_email_age {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.register_container .register_form .register_fname_lname .fname_input, .register_container .register_form .register_fname_lname .lname_input, .register_container .register_form .register_fname_lname .email_input, .register_container .register_form .register_fname_lname .age_input, .register_container .register_form .register_email_age .fname_input, .register_container .register_form .register_email_age .lname_input, .register_container .register_form .register_email_age .email_input, .register_container .register_form .register_email_age .age_input {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.register_container .register_form .password_input {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.register_container .register_form .password_input .password, .register_container .register_form .password_input .confirm_password {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.register_container .register_form .checkbox_input {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.register_container .register_form .checkbox_input div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register_container .register_form .checkbox_input div label {
  cursor: pointer;
}
.register_container .register_form .checkbox_input div input {
  width: 16px;
  height: 16px;
  accent-color: rgb(74, 40, 177);
  cursor: pointer;
}
.register_container .register_form .submit_input {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.register_container .register_form .submit_input button {
  width: 150px;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: #4A28B1;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}
.register_container .register_form input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: 0;
  padding: 10px;
  font-size: 16px;
}
.register_container .register_form .error_message {
  font-size: 12px;
  color: #fc8181;
}/*# sourceMappingURL=Register.css.map */