@import '../../breakpoints';

.cart_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #fafafafa;
  padding-top: 60px;

  .basket_box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .basket_subtitle {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      h2 {
        font-size: 40px;
        font-weight: 500;
      }
    }

    .basket_empty_box {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;

      .basket_empty {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #6c34d5;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        .left_border {
          width: 30px;
          height: 100%;
          background: #4C18AC;
          position: absolute;
          left: 0;
        }

        p {
          font-size: 50px;
          color: white;
        }
      }

      button {
        width: 240px;
        height: 45px;
        border: none;
        border-radius: 5px;
        background: #2d2d2d;
        color: white;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s linear;

        &:hover {
          background: #414141;
        }
      }
    }

    .display_cart_products {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 40px;

      .basket_products {
        width: 100%;
        border-collapse: collapse;
        border: none;

        thead {
          tr {
            td {
              font-weight: 400;
              padding: 10px 0;
              border: none;
              font-size: 18px;
            }
          }
        }
      }

      .basket_total_price {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #6c34d5;
        padding: 0 20px;

        button {
          width: 200px;
          height: 40px;
          font-size: 16px;
          border: none;
          border-radius: 5px;
          background: #c40606;
          color: #fff;
          cursor: pointer;
        }

        p {
          font-size: 24px;
          font-weight: 500;
          color: white;
        }
      }
    }
  }
}