.slide {
  width: 100%;
  height: 600px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

.slide_text > p {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.slide_text > span {
  font-size: 24px;
  color: white;
}