@import '../../breakpoints';

.shop_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #fafafafa;
  padding-top: 60px;

  .shop_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    h2 {
      font-size: 40px;
      font-weight: 500;
    }
  }

  .display_shop_products {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding: 40px 0;

    .display_categories_bar {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      .select_categories {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        .category_title {

          p {
            font-size: 18px;
            color: #4A28B1;
            font-weight: bold;
          }
        }

        a {
          font-size: 16px;
          color: black;
          transition: 0.1s ease-in-out;
          position: relative;
          padding: 2px 0;
        }

        .active_category {
          color: #4A28B1;
        }
      }

      .select_price {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        .price_title {

          p {
            font-size: 18px;
            color: #4A28B1;
            font-weight: bold;
          }
        }

        .introduction_range_slider {

          p {
            font-size: 14px;
            color: gray;
          }
        }

        .display_price_range {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;

          div {
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;

            input {
              width: 100%;
              height: 100%;
              text-align: center;
              font-size: 16px;
              border: 0;
              outline: 0;
            }
          }
        }

        .select_price_range {
          cursor: pointer;
        }
      }
    }

    .select_company {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;

      .company_title {

        p {
          font-size: 18px;
          color: #4A28B1;
          font-weight: bold;
        }
      }

      .introduction_company {

        p {
          font-size: 14px;
          color: gray;
        }
      }

      .select_input {
        -webkit-appearance:none;
        -moz-appearance:none;
        -ms-appearance:none;
        appearance:none;
        outline:0;
        box-shadow:none;
        border:0;
        padding: 0 .5em;
        color:#fff;
        cursor:pointer;
        position: relative;
        display: flex;
        width: 100%;
        font-size: 16px;
        line-height: 40px;
        background: #5c6664;
        overflow: hidden;
        border-radius: .25em;

        optgroup {
          height: 26px;

          option {
            height: 26px;
            font-size: 16px;

            &:checked {
              background: #4A28B1;
              color: white;
            }
          }
        }
      }
    }

    .display_products {

      .products_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;

        @include tablet_lg{
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}