@import '../../breakpoints';

.basket_product_box {
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: 0.2s linear;
  box-shadow: 0 2px 10px rgb(167, 140, 140);
  padding-bottom: 10px;

  &:hover {
    z-index: 10;
  }

  &:hover .product_image > img {
    transform: scale(1.1);
    filter: saturate(3) brightness(0.4);
  }

  &:hover .product_image > div {
    opacity: 1;
    z-index: 100;
  }

  .product_availablity {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    position: absolute;
    top: 25px;
    left: -60px;
    transform: rotate(-45deg);
    z-index: 100;

    p {
      font-size: 14px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .product_image {
    width: 100%;
    min-height: 280px;
    max-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-position: center;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: 0.2s ease-in-out;
      object-fit: cover;
    }

    div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      font-size: 40px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }

    &:hover {
      background: black;
    }
  }

  .product_name {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }

  .product_brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 16px;
      color: gray;
      text-align: center;
    }
  }

  .product_price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 15px;
      font-weight: bold;
      color: black;

      span {
        font-size: 15px;
        color: #2152f3;
      }
    }

  }

  .basket_count_box {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .basket_product_quantity {
      font-size: 18px;
    }

    button {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      border: none;
      background: #2152f3;
      color: white;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .remove_button {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 150px;
      height: 100%;
      border: none;
      border-radius: 5px;
      background: crimson;
      color: white;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.product_limited {
  background: rgb(205, 160, 11);
}

.product_not_available {
  background: red;
}

.product_available {
  background: #1fb31f;
}