@import '../../breakpoints';


.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  transition: 0.3s ease-in-out;
  z-index: 999;
  background: rgb(76, 24, 172);

  .nav {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet_lg {
      grid-template-columns: repeat(2, 1fr);
    }

    .logo {
      text-transform: capitalize;
      font-weight: bold;
      color: #fff;
      transition: 0.3s linear;
      font-family: Poppins;
      font-size: 36px;

      @include mobile_xl {
        font-size: 30px;
      }

      @include mobile_md {
        font-size: 26px;
      }
    }

    .nav_items {
      transition: 0.3s cubic-bezier(0.1, 0.2, 0.320, 1);
      width: 400px;
      height: 100vh;
      position: absolute;
      top: 0;
      right: -410px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 80px;
      box-shadow: 0 0 10px black;

      @include tablet_xs {
        width: 300px;
        right: -310px;
      }

      .nav_menu {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        // gap: 20px;

        @include tablet_lg {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          // gap: 20px;
        }

        .nav_list {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid white;
          transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            background: white;
          }

          @include tablet_lg {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }

          .nav_link {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 18px;
            text-transform: capitalize;
            color: #fff;
            transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            font-family: sans-serif;
            padding-left: 20px;

            &:hover {
              color: black;
            }

            @include tablet_lg {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
          }
        }

        .nav_my_cart_list {
          display: none;

          @include tablet_xs {
            display: flex;
          }
        }

        .nav_my_fav_list {
          display: none;

          @include tablet_xs {
            display: flex;
          }
        }

        .nav_compare_list {
          display: none;

          @include tablet_xs {
            display: flex;
          }
        }
      }

      .close_menu {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }

    .show_menu {
      height: 100vh;
      right: 0;
      transition: 0.3s linear;
      background: #4C18AC;
    }

    .active_menu_overlay {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 60px;
      right: 0;
      backdrop-filter: blur(1px);
      background: rgba(0, 0, 0, 0.5);
    }

    .inactive_menu_overlay {
      display: none;
    }

    .menu_cart_fav_login_items {
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      // grid-gap: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      @include desktop_md {
        gap: 20px;
      }

      .nav_search {
        width: 350px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 5px;

        @include desktop_md {
          width: 60px;
          background: transparent;
        }

        .search_box {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          @include desktop_md {
            width: 100%;
            background: transparent;
          }

          input {
            width: 90%;
            height: 100%;
            background: transparent;
            border: none;
            outline: 0;
            padding: 10px;
            font-size: 16px;
            font-family: sans-serif;

            @include desktop_md {
              display: none;
            }
          }

          button {
            width: 10%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            background: transparent;
            border: none;
            cursor: pointer;

            @include desktop_md {
              width: 100%;
              color: white;
              font-size: 28px;
            }
          }
        }
      }

      .fav_box, .cart_box, .compare_box {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 10px;

        @include tablet_xs {
          display: none;
        }

        .my_fav, .my_basket, .my_compare {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          @include tablet_lg {
            display: none;
          }

          p {
            font-size: 14px;
            color: white;
          }

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 12px;
            color: white;
          }
        }

        .fav_count, .cart_count, .compare_count {
          min-width: 22px;
          min-height: 22px;
          display: none;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: red;
          color: white;
          font-size: 14px;

          @include tablet_lg {
            display: flex;
          }
        }
      }

      .product_count_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        background: rgb(231, 59, 59);
      }

      .login_box {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 5px;

        span {
          font-size: 16px;
          color: white;
          font-family: sans-serif;
        }
      }

      .hamburger_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  .isActive {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    background: white;
    color: rgb(193, 51, 0);
    transition: 0.3s linear;
    text-transform: capitalize;
    font-family: sans-serif;
    padding-left: 20px;
  }

}