@import '../../breakpoints';

.footer {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #4A28B1;

  @include tablet_lg {
    min-height: 400px;
  }

  .footer_box {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding-top: 20px;

    @include tablet_lg {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 40px;
      padding-bottom: 40px;
    }

    .footer_logo_social_medias {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      padding-right: 200px;

      @include tablet_lg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
      }

      .footer_logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        @include tablet_lg {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        a {
          font-size: 34px;
          color: white;
          font-weight: bold;

          span {
            color: crimson;
          }
        }

        p {
          font-size: 14px;
          color: white;
        }
      }

      .footer_social_medias {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        div {

          .footer_social_icons {
            font-size: 28px;
            color: white;
          }
        }
      }
    }

    .footer_shopping {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;

      @include tablet_lg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
      }

      .footer_shopping_title {
        
        @include tablet_lg {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          font-size: 20px;
          font-weight: bold;
          color: white;
          text-transform: uppercase;
        }
      }

      .footer_shopping_links {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        @include tablet_lg {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 20px;
          padding-right: 0;
        }

        a {
          font-size: 16px;
          color: white;
        }
      }
    }

    .footer_links_box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;

      @include tablet_lg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-right: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
      }

      .footer_links_title {
        @include tablet_lg {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          font-size: 20px;
          font-weight: bold;
          color: white;
          text-transform: uppercase;
        }
      }

      .footer_links {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;

        @include tablet_lg {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 20px;
        }

        a {
          font-size: 16px;
          color: white;
        }
      }
    }

    .footer_send_message {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      padding-left: 200px;

      @include tablet_lg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
      }

      .footer_message_title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        @include tablet_lg {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          font-size: 20px;
          font-weight: bold;
          color: white;
          text-transform: uppercase;
        }

        span {
          font-size: 14px;
          color: white;
        }
      }

      .footer_message_input {
        width: 90%;
        height: 40px;
        display: grid;
        grid-template-columns: 7fr 1fr;
        align-items: center;
        border-bottom: 2px solid white;

        input {
          height: 100%;
          background: transparent;
          border: none;
          outline: 0;
          color: white;
          padding: 10px;
          font-size: 16px;
          caret-color: red;
          caret-shape: 4px;

          &::placeholder {
            color: white;
          }
        }

        div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .send_icon {
            font-size: 24px;
            color: white;
          }
        }
      }
    }
  }

  .footer_copyright {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;

    p {
      font-size: 16px;
      color: white;
    }
  }
}