* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: poppins, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  width: 100%;
  background: #fafafafa;
}

::-webkit-scrollbar-thumb {
  background: #4C18AC;
}